@import "less/bootstrap.less";
@import "less/responsive.less";

@wellBackground:                  #f5f5f5;
@navbarCollapseWidth:             979px;
@navbarHeight:                    40px;
@navbarBackground:                darken(@navbarBackgroundHighlight, 5%);
@navbarBackgroundHighlight:       @grayDark;
@navbarBorder:                    darken(@navbarBackground, 12%);
@navbarText:                      @gray;
@navbarLinkColor:                 @gray;
@navbarLinkColorHover:            @grayLighter;
@navbarLinkColorActive:           @grayLighter;
@navbarLinkBackgroundHover:       transparent;
@navbarLinkBackgroundActive:      darken(@navbarBackground, 5%);
@navbarBrandColor:                @navbarLinkColor;
@navbarInverseBackground:                #111111;
@navbarInverseBackgroundHighlight:       #222222;
@navbarInverseBorder:                    #252525;
@navbarInverseText:                      @grayLight;
@navbarInverseLinkColor:                 @grayLight;
@navbarInverseLinkColorHover:            @white;
@navbarInverseLinkColorActive:           @navbarInverseLinkColorHover;
@navbarInverseLinkBackgroundHover:       transparent;
@navbarInverseLinkBackgroundActive:      @navbarInverseBackground;
@navbarInverseSearchBackground:          lighten(@navbarInverseBackground, 25%);
@navbarInverseSearchBackgroundFocus:     @white;
@navbarInverseSearchBorder:              @navbarInverseBackground;
@navbarInverseSearchPlaceholderColor:    #ccc;
@navbarInverseBrandColor:                @navbarInverseLinkColor;

@icon-font-path:          "/Content/fonts/";
@icon-font-name:          "glyphicons-halflings-regular";
@iconSpritePath:          "/Content/images/glyphicons-halflings.png";
@iconWhiteSpritePath:     "/Content/images/glyphicons-halflings-white.png";
@import "less/glyphicons.less";

.side-menu {
    width: 220px;
    float: right;
    border: 1px solid darken(@wellBackground, 7%);
    .border-radius(@baseBorderRadius);
}
.tag_wrapper {
    font-size:22px;
    margin-bottom:15px;
}
ul.tags.cf {
    display:block !important;
}
.tweet-text {
    padding: 28px 5px 10px 20px;
}
ul#identityProviders {
    li {
        margin: 5px;
        width:240px;
        img {
            width:240px;
            border:1px solid @grayDark;
        }
    }
}
#wrap {
    min-height:100%;
}
body {
    background: #CCC url('/Content/layout/Cyber-Lane-parts_0012_bg-repeat-tile.png') repeat;
}
ul.results {
    li {
        list-style-image:none;
        list-style-type:none;
    }
}
.tweet {
    height: 116px;
    background: url('/Content/layout/Cyber-Lane-parts_0007_twitter-box.png') no-repeat;
    margin-bottom: 10px;
}
.self-portrait {
    img {
        position: absolute;
        bottom: 0;
        width:25%;
        max-width:100%;
    }
}
html, body {
    height: 100%;
}
.well {
    overflow:auto;
}
.payment_buttons {
    display:none;
}
ul.tags {
    display: inline-block;
    list-style: disc outside none;
    li:last-child:after {
        content: '';
    }
    li {
        font-size:14px;
        display:inline-block;
        list-style-image:none;
        list-style-type:none;
        margin:0;
        padding:0;
        color:#9f9e99;
        font-style:italic;
        text-decoration:none;
    }
    li:after {
        content: ',';
    }
}
footer {
    position:relative;
    margin-top:-163px;
    height: 163px;
    clear:both;
    background: url('/Content/layout/Cyber-Lane-partsv2_0011_footer-middle-repeat.png') repeat-x bottom;
}
.masterhead {
    height: 224px;
    background: transparent url('/Content/layout/Cyber-Lane-parts_0006_header-filler-repeat.png') repeat-x top;
    h1 {
        max-width: 728px;
        height: 224px;
        margin: 0 auto;
        text-indent: -10000px;
        background: transparent url('/Content/layout/Cyber-Lane-parts_0003_header-middle-no-logo.png') no-repeat center top;
    }
}
#main {
    overflow:auto;
    padding-bottom:163px;
}
.content-container {
    position: relative;
}
.post-date {
	background: #42AF47;
	border-radius: 100px;
	float:left;
	font-size:12px;
	line-height:1.1;
	margin-right:0.667em;
	padding:0.95em 1.05em;
	text-align:center;
	text-transform:uppercase;
	width:48px;
	color:#fff;
	time {
		span {
			display:block;
		}
		span.entry-day {
			font-size:23px;
		}
	}
}
.big-28 {
    font-size: 28px;
}
@media (max-width: 767px){
    body {
            padding: 0;
    }
    .masterhead {
        height: 96px !important;
    }
    .masterhead h1 {
        background-size: 100%;
        height: 115px !important;
    }
}
.social {
    padding:4px;
    border-radius:17px;
    color:#FFF;
    .youtube {
        background-color:#DF2826;
    }
    .facebook {
        background-color:#005580;
    }
    .twitter {
        background-color:#2CA1EB;
    }
    .g-plus {
        background-color:#FF1414;
    }
    .stackoverflow {
        background-color:#FE7A15;
    }
    .github {
        background-color:#000;
    }
}