<!DOCTYPE html>
<html>
    <head>
        <title>Cyber-Lane | {{ page.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="canonical" href="{{ page.url }}" />
        {% include /Content/master.css %}
    </head>
    <body>
        <div id="wrap" class="wrap">
            <div id="main">
                <div class="masterhead">
                    <header>
                        <h1>Cyber-Lane | {{ page.title }}</h1>
                    </header>
                </div>
                <div class="container-fluid content-container">
                    <div id="main-row" class="row-fluid">
                        <div class="span3 self-portrait hidden-phone">
                            <img class="hidden-phone" src="/Content/layout/Cyber-Lane-partsv2_0000_portrait.png" alt="Portrait of Justin Nel"/>
                        </div>
                        <div class="span6">
                            <div class="navbar">
                                <div class="navbar-inner">
                                    {% capture location %}{{ page.url | remove_first:'/' | split:'/' | first }}{% endcapture %}
                                    <ul class="nav">
                                        <li {% if location == '' %}class="active" {% endif %}>
                                            <a href="/">Home</a>
                                        </li>
                                        <li {% if location == 'blog' %}class="active" {% endif %}>
                                            <a href="/blog">Blog</a>
                                        </li>
                                        <li {% if location == 'about' %}class="active" {% endif %}>
                                            <a href="/about">About</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="well">
                                {{ content }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer hidden-phone">
        </footer>
        {% include /Scripts/jquery-1.9.1.min.js %}
        {% include /Scripts/bootstrap.min.js %}
        {% include /Scripts/application.js %}
        <script type="text/javascript">
            var disqus_shortname  = 'justinn',
                disqus_identifier = '{{ page.path | split:'/' | last | cgi_escape }}',
                disqus_url        = '{{ site.url }}{{ page.url | uri_escape }}'
            ;
            (function() {
                var load = function(src){
                    var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = src;
                    var e = document.getElementsByTagName('script')[0]; e.parentNode.insertBefore(s, e);
                };
                load('//' + disqus_shortname + '.disqus.com/count.js');
                if (document.getElementById('disqus_thread')) {
                    load('//' + disqus_shortname + '.disqus.com/embed.js');
                }
            })();
        </script>
    </body>
</html>