<!DOCTYPE html>
{% assign description = page.description %}{% if description == null %}{% assign description = site.description %}{% endif %}
{% if page.tags %}{% assign keywords = page.tags | join: ',' %}{% else %}{% assign keywords = page.categories | join: ',' %}{% endif %}
<html lang="en" dir="ltr" xmlns:fb="http://ogp.me/ns/fb#">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="content-type" content="text/html;" />
        <title>Cyber-Lane | {{ page.title }}</title>
        <meta name="robots" content="index,follow" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="description" content="{{ description }}" />
        <meta name="keywords" content="{{ keywords }}" />
        <link rel="canonical" href="{{ page.url }}" />
        <!-- Facebook Meta Tags -->
        <meta property="og:title" content="{{ page.title }}" />
        <meta property="og:type" content="blog" />
        <meta property="og:url" content="{{ site.url | append:page.url }}" />
        <meta property="og:description" content="{{ description }}" />
        <meta property="og:site_name" content="{{ site.name }}" />
        <meta property="og:image" content="{{site.url | append:'/Content/layout/Cyber-Lane-partsv2_0000_portrait.png' }}" />
        <!-- Twitter Cards -->
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:image" content="{{site.url | append:'/Content/layout/Cyber-Lane-partsv2_0000_portrait.png' }}" />
        <meta name="twitter:site" content="@Cyberlane" />
        <meta name="twitter:creator" content="@Cyberlane" />
        <!-- Windows 8 -->
        <meta name="msapplication-TileColor" content="#FFFFFF" />
        <meta name="msapplicaiton-TileImage" content="/windows8-icon.png" />
        <!-- Links -->
        <link rel="start" href="{{ site.url }}" title="{{ site.name }}" />
        <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - Feed" href="{{ site.url }}/blog/feed.xml" />
        <link rel="alternate" type="application/atom+xml" title="{{ site.name }} - Feed" href="{{ site.url }}/blog/atom.xml" />
        <meta name="google-site-verification" content="kr0Pdxh_GI4F9Rpw5_71Xd1nxD1XP4rFamwuAWOWPQI" />
        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="/Content/master.css"/>
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
        <!-- Google -->
        <script type="application/ld+json">
          {
           "@context" : "http://schema.org",
           "@type" : "Person",
           "name" : "Justin Nel",
           "url" : "http://www.cyber-lane.com",
           "sameAs" : [
            "http://www.twitter.com/Cyberlane",
            "http://www.facebook.com/MyCyberlane",
            "http://www.linkedin.com/in/cyberlane",
            "http://plus.google.com/+JustinNel"
           ]
          }
        </script>
    </head>
    <body>
        <div id="wrap" class="wrap">
            <div id="main">
                <div class="masterhead">
                    <header>
                        <h1>{{ site.name }} | {{ page.title }}</h1>
                    </header>
                </div>
                <div class="container-fluid content-container">
                    <div id="main-row" class="row-fluid">
                        <div class="span3 self-portrait hidden-phone">
                            <img class="hidden-phone" src="/Content/layout/Cyber-Lane-partsv2_0000_portrait.png" alt="Portrait of Justin Nel"/>
                        </div>
                        <div class="span6">
                            <div class="navbar">
                                <div class="navbar-inner">
                                    {% capture location %}{{ page.url | remove_first:'/' | split:'/' | first }}{% endcapture %}
                                    <ul class="nav">
                                        <li {% if location == '' %}class="active" {% endif %}>
                                            <a href="/">Home</a>
                                        </li>
                                        <li {% if location == 'blog' %}class="active" {% endif %}>
                                            <a href="/blog/">Blog</a>
                                        </li>
                                        <li {% if location == 'products' %}class="active" {% endif %}>
                                            <a href="/products/">Products</a>
                                        </li>
                                        <li {% if location == 'contact' %}class="active" {% endif %}>
                                            <a href="/contact/">Contact</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="well">
                                {{ content }}
                            </div>
                        </div>
                        <div class="span2 hidden-phone">
                            <div class="well" style="background:transparent;border:none;">
                                <div>
                                    <a href="https://www.tindie.com/stores/Cyberlane/?ref=offsite_badges&utm_source=sellers_Cyberlane&utm_medium=badges&utm_campaign=badge_large"><img src="https://d2ss6ovg47m0r5.cloudfront.net/badges/tindie-larges.png" alt="I sell on Tindie" width="200" height="104"></a>
                                </div>
                                <div>
                                    <a href="//www.etsy.com/shop/Cyberlane?ref=offsite_badges&utm_source=sellers&utm_medium=badges&utm_campaign=en_isell_1"><img width="200" height="200" src="//img0.etsystatic.com/site-assets/badges/en/en_isell_1.png"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a href="https://plus.google.com/+JustinNel?rel=author" class="hide">Google</a>
        <footer class="footer hidden-phone">
        </footer>
        <script src="/Scripts/jquery-1.9.1.min.js" type="text/javascript"></script>
        <script src="/Scripts/bootstrap.min.js" type="text/javascript"></script>
        <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
        <script type="text/javascript">
            var disqus_identifier = '{{ page.path | split:'/' | last | cgi_escape }}',
                disqus_url        = '{{ site.url }}{{ page.url | uri_escape }}',
                siteurl           = '{{ site.url }}',
                sitedomain        = '{{ site.domain }}',
                _gaq = _gaq || [];
                _gaq.push(['_setAccount', 'UA-5122877-1']);
                _gaq.push(['_trackPageview']);
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        </script>
        <script src="/Scripts/application.js" type="text/javascript"></script>
    </body>
</html>
