---
layout: default
---
<h1>{{ page.title }}</h1>
<div style="overflow:auto;">
	{{ page.intro }}
	<img src="/Content/products/{{ page.sidebar | append:'.png' }}" alt="product thumbnail" />
	<ul class="nav nav-list side-menu">
		{% for entry in site.data[page.sidebar] %}
		<li class="nav-header">{{ entry.text }}</li>
			{% for link in entry.links %}
			<li>
				{% if link.target != null %}
				<a href="{{ link.href }}" target="{{ link.target }}">{{ link.text }}</a>
				{% else %}
				<a href="{{ link.href }}">{{ link.text }}</a>
				{% endif %}
			</li>
			{% endfor %}
		{% endfor %}
	</ul>
</div>
<hr />
<div>
	{% assign rows = content | split:'&ndash;row&ndash;' %}
	{% for row in rows %}
	<div class="row-fluid">
	{% assign cols = row | split:'&ndash;column&ndash;' %}
	{% if cols.size == 1 %}
	{{ row }}
	{% else %}
	{% for col in cols %}
	<div class="span6"><p>{{ col }}</div>
	{% endfor %}
	{% endif %}
	</div>
	{% endfor %}
</div>
