---
layout: default
products:
  -  title: 'Tree Kit Trinket'
     description: 'Electronic PCB Kit with a Christmas twist!'
     wiki: 'https://github.com/Cyberlane/Tree-Kit-Trinket/wiki'
     img:
        src: '/Content/products/tree-kit-trinket.png'
        alt: 'tree-kit-trinket'
  - title: 'Snow-Meep Kit'
    description: 'Soldering is easy Snow Man variant!'
    wiki: 'https://github.com/Cyberlane/Snow-Meep/wiki'
    img:
        src: '/Content/products/snow-meep.png'
        alt: 'snow-meep'
  - title: 'Soldering Is Easy'
    description: 'Soldering is easy kit.'
    wiki: 'https://github.com/Cyberlane/Soldering-is-easy/wiki'
    img:
        src: '/Content/products/soldering-is-easy.png'
        alt: 'soldering-is-easy'
---
<h1>{{ page.title }}</h1>

<div>
	{{ content }}
</div>

{% for product in products %}
<div class="row-fluid">
	<div class="span3">
		<img src="{{ product.img.src }}" alt="{{ product.img.alt }}" class="img-thumbnail" />
	</div>
	<div class="span5">
		<h3>{{ product.title }}</h3>
		<div>
			<a href="{{ product.wiki }}" target="_blank">Instructions</a>
		</div>
		{{ product.description }}
	</div>
</div>
<hr />
{% endfor %}