---
layout: default
---
<h1>{{ page.title }}</h1>
<div>
	{{ page.intro }}
	<ul class="nav nav-list side-menu">
		{% for entry in site.data[page.sidebar] %}
		<li class="nav-header">{{ entry.text }}</li>
			{% for link in entry.links %}
			<li>
				<a href="{{ link.href }}">{{ link.text }}</a>
			</li>
			{% endfor %}
		{% endfor %}
	</ul>
</div>

<div style="clear:both;">
	{% assign rows = content | split:'&ndash;row&ndash;' %}
	{% for row in rows %}
	<div class="row-fluid">
	{% assign cols = row | split:'&ndash;column&ndash;' %}
	{% if cols.size == 1 %}
	{{ row }}
	{% else %}
	{% for col in cols %}
	<div class="span6">{{ col }}</div>
	{% endfor %}
	{% endif %}
	</div>
	{% endfor %}
</div>