---
layout: default
---
<ul class="nav nav-list side-menu">
	{% for entry in page.sidebar %}
	<li class="nav-header">{{ entry.text }}</li>
		{% for link in entry.links %}
		<li>
			<a href="{{ link.href }}">{{ link.text }}</a>
		</li>
		{% endfor %}
	{% endfor %}
</ul>
<h1>{{ page.title }}</h1>

<div>
	{% assign rows = content | split:'&ndash;row&ndash;' %}
	{% for row in rows %}
	<div class="row-fluid">
	{% assign cols = row | split:'&ndash;column&ndash;' %}
	{% for col in cols %}
	<div class="span6">{{ col }}</div>
	{% endfor %}
	</div>
	{% endfor %}
</div>